<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Genérica</title>
    <link rel="stylesheet" href="/public/global.css">
</head>
<body>
    <header>
        <h1>Bem-vindo à Página Genérica</h1>
        <img src="https://proex.ufpa.br/images/galeria_em_artigos/image03_grd.png" alt="Imagem de um Pinguim"/>
</body>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Seção Principal</h2>
            <p>Este é um exemplo de uma página simples usando HTML e CSS em arquivos separados.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Minha Página Genérica</p>
    </footer>
</body>
</html>
