<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Genérica</title>
    <link rel="stylesheet" href="/global.css">
</head>
<body>
    <header>
        <h1>Bem-vindo à Página</h1>
        <img src="https://proex.ufpa.br/images/galeria_em_artigos/image03_grd.png" alt="Imagem de um Pinguim"/>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Pinguim</h2>
            <p id="main-paragraph">No final das contas, o pinguim percebe que a liberdade não está em desafiar o céu, mas em abraçar o frio e se perguntar: 'Por que todo mundo está tão vestido?</p>
            <button id="change-text-btn">Clique para mudar o texto</button>
        </section>
    </main>

    <script src="/script.js"></script>
</body>
</html>
